<h1>New celebrity</h1>
<form method="POST" style="display: grid; grid-template: auto / 1fr">
  <label>Name: <input name="name" /></label>
  <label>Occupation: <select name="occupation">
    <option value="actor">actor</option>
    <option value="singer">singer</option>
    <option value="comedian">comedian</option>
    <option value="unknown">unknown</option>
  </select></label>
  <label>Catch Phrase <input name="cathPhrase" /></label>
  
  
  <button type="submit">Create Celebrity</button>
</form>