<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div
	style="
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
	"
>
	<a href="/celebrities/create">Create a celebrity</a>
	<a href="/celebrities">List of all celebrities</a>
	<a href="/movies/create">Create a movie</a>
	<a href="/movies">List of all movies</a>
</div>
